/* ===== Standard elements ===== */

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-left: -26px;
	page-break-after: avoid;
	color: #003248;
}

h1 {
	font-size: 190%;
	margin-top: .5em;
	margin-bottom: .5em; 
	text-align: center;
}

h2 {
	font-size: 150%;
	margin-top: 1em;
	margin-bottom: .6em; 
	clear: left;
	page-break-before: always;
}

.index h2
{
	page-break-before: auto;
	margin-top: 0.5em;
}

h2.dontforcepagebreak {
	page-break-before: auto;
}

h3 {
	font-size: 120%;
	margin-top: 1em;
}

h4 {
	font-size: 100%;
	margin-top: 1em;
	margin-bottom: .6em; 
}

h2.SectionHeading {
	font-size: 120%;
	margin-top: 1em;
	margin-bottom: 1.4em; 
}

ul p, ol p, dl p {
	margin-left: 0em;
}

p {
	margin-top: .6em;
	margin-bottom: .6em;
	page-break-inside: avoid;
}
#content p {
	line-height: 1.5em;
}

dl {
	margin-top: 0em; 
}

dd {
	margin-bottom: 0em;  
	margin-left: 1.9em; 
}

dt {
	margin-top: .6em;
}

dl.condensed dt {
	margin: .1em 0 -.2em 0;
}

ul, ol {
	margin: .6em 0 0 2em;
	padding: 0 0 0 1em;
}

ol {
	margin-left: 3.6em;
}	
	
ul {
	list-style-type: disc;
	margin-left: 1.9em;
}

li {
	margin: 0 0 .6em 0;
	padding: .2em 0 .2em 0;
}

ul ol, ol ol {
	list-style-type: lower-alpha;
	margin-top: .6em;
	margin-bottom: .6em; 
}

pre, p.gdlcode {
	background: #E8E8E8;
	color: Black;
	font: 10pt "Courier New", Courier, monospace;
	padding: .4em;
	page-break-inside: avoid;
}

p.gdlcode
{
	white-space: pre;
	line-height: 1.2em !important;
}

p.gdlcode strong {
	font-style: normal;
	text-decoration: none;
	color: red;
}

p.gdlcode .selected {
	background-color: #C0C0C0
}

@media screen {
p.gdlcode
{
	width: 90%;
	overflow: auto;
}
}

code {
	font: 110% "Courier New", Courier, monospace;
	padding: .4em;
}

table {
	background: #999999;
	margin-top: .6em;
	margin-bottom: .3em;
	page-break-inside: avoid;
}

th {
	padding: 4px 8px;
	background: #cccccc;
	text-align: left;
	vertical-align: bottom;
}
		
td {
	padding: 4px 8px;
	background: #ffffff;
	vertical-align: top;
}

blockquote {
	margin: .6em 3.8em;
}

sup {
	text-decoration: none;
	font-size: smaller; 
}

a:link {
	color: #0066ff;
	font-weight: bold; 
}

a:visited {
	color: #996600; 
	font-weight: bold; 
}

a:hover {
	color: #cc9900;
	font-weight: bold; 
}


/* ===== Special styles for the contained text ===== */

/* Summary table */

table.summary, table.Summary {
	width: 90%;
	border-style: none;
	border-color: White;
	background-color: White;
	margin-top: .6em;
	margin-bottom: .3em;
}

table.summary th, table.Summary th { 
	width: 10px;
	background: #B0D0E6;
	border-style: none;
	border-color: White;
	vertical-align: middle;
}

table.summary td, table.Summary td {
	background: #DCDCDC;
	border-style: none;
	border-color: White;
	vertical-align: middle;
}

/* Enumeration table */

table.enumeration, table.Enumeration {
	background: #999999;
	margin-top: .6em;
	margin-bottom: .3em;
}

table.enumeration th, table.Enumeration th {
	padding: 4px 8px;
	background: #cccccc;
	text-align: center;
	vertical-align: bottom;
}

table.enumeration td, table.Enumeration td {
	padding: 4px 8px;
	background: #ffffff;
	vertical-align: top;
}

.mini, .Mini {
	font-size: smaller;
}

.indent, .Indent {
	margin-left: 1.9em; 
	margin-right: 1.9em;
}

.product, .Product {
	text-align: right;
	color: #333333;
	font-size: smaller;
	font-style: italic;
}

hr.separator_line, hr.SeparatorLine {
	position: relative;
	top: 15px;
	left: -26px;
	width: 100%;
	height: 1px;
}

a.level1, a.Level1 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	text-decoration : none;
	color : #869688;
	font-weight : bold;
}

a.level1:hover, a.Level1:hover {
	text-decoration : underline;
}

th.LinkColumn, td.LinkColumn {
	width: 30%;
}

.note {
	margin-left: 14pt;
	margin-right: 12pt;
}

span.Identifier {
	font-weight: bold;
}

.Parameter, dl.Parameters dt {
	font-style: italic;
}

span.ContentID {
	color: red;
}

span.RequirementsSection {
	font-weight: bold;
}

dl.Requirements {
	margin-left: 20px;
	height: 4.7em;
}

dl.Requirements dt {
	font-weight: bold;
	float: left;
	clear: left;
	margin: 0;
}

dl.Requirements dd {
	float: left;
	margin: 0 0 0 .5em;
}

.NoBorder, a img {
	border-width: 0;
	border-style: none;
}

/* for a library part parameter name */
.LPParameter {
	font-weight: bold;
}

/* for a pair letters meaning a vector */
.Vector {
	text-decoration: overline;
}

/* Page index format */

div.index, div.Index {
	margin-left: -13px;
	margin-right: 7px;
	padding: 4px 4px 8px 39px;
	background: #eeeeee;
	color: Black;
	border: 1px solid #999999;
}

div.Index ul, div.index ul {
	margin-left: 0.5em;
	list-style-type: none;
}

div.Index li, div.index li {
	margin-bottom: .2em;
	font-size: 100%;
}

div.index ol {
	margin-left: 0.5em;
	list-style-type: decimal;
}

div.index ol ol, div.index ol ul {
	margin-left: 2em;
}

div.index ol ol {
	list-style-type: none; /*: decimal;*/
	margin-left: 0.5em;
}


/* ===== Script-generated HTML framing ===== */

/* Page header */

div#docBegin {
	width: 100%;
	margin: 0 0 12px 0;
	padding: 0;
	background: #003248;
	border-style: none;
	text-align: right;
	font: normal bold 12pt Arial, Helvetica, sans-serif;
}

#graphisoft_title {
	width: 205px;
	height: 45px;
	position: absolute;
	top: 0;
	left: 25px;
	background-image: url("images/gslogo.png");
}
#graphisoft_title span {
	display: none;
}

.TitleMain {
	font-size : 30pt;
	color : #1a4a5e;
}

.TitleVersion {
	color : #c7c6c4;
	padding-right: 20px;
}

div#docBegin p {
	margin: 0;
}

/* Page footer */

div#footer {
	font-size : 70%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background: #ffffff;
	border-style: none;
}

div#footer p {
	padding: 0;
	margin: 0;
	z-index: 2;
}

div#footer #toplink {
	position: relative;
	bottom: 1em;
	left: 40px;
	width: 31px;
	height: 14px;
	z-index: 1;
	background: url(images/top.png) no-repeat;
}

div#footer #toplink a span {
	display: block;
	width: 31px;
	height: 14px;
	visibility: hidden;
}

div#footer p.hdr1 {
	text-align: center;
}

.inset {
	background: #ffffff;
	padding: 0;
	margin: 0 10px 0 30px;
	font-size: 70%;
	border-style: none;
}

.Credits {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 7pt;
	color : #5b5c51;
}


/* ===== Javascript styles ===== */

/* Requirements and see-also images and popup */

img#requirementsLink {
 	float: left;
 	position: absolute; top: 4px; left: 4px;
 	clear: both; 
	z-index: 10;
}

img#seeAlsoLink {
 	float: left;
 	position: absolute; top: 4px; left: 20px;
 	clear: both;
	z-index: 10;
}

div.Popup {
	position: absolute;
	z-index: 15;
	left: 20px;
	top: 20px;
	padding: 0px 10px 10px 40px;
	visibility: hidden;
	border: 1px solid #000000;
	background: #ffffd0;
	text-align: left;
	font-size: 11px;
}

@media print {
	img#requirementsLink, img#seeAlsoLink {
		display: none;
	}
}

/* Additions to support syntax definitions */

pre.syntax, pre.Syntax {
	background-color: #dddddd;
	color: #000000;
	font: 100% "Courier New", Courier, monospace;
	padding: 2pt 4pt;
	cursor: text;
}

a.synParam, a.SyntaxLink {
	color: #0040ff;
	text-decoration: none;
}

a.synParam:hover, a.SyntaxLink:hover {
	text-decoration: underline;
}

pre span.SyntaxKeyword {
	font-weight: bold;
}

pre span.SyntaxSymbol {
	font-weight: bold;
}

pre span.SyntaxTypename {
	font-weight: bold;
}

pre span.SyntaxIdentifier {
	font-weight: bold;
}

pre span.SyntaxInitializer {
	font-weight: bold;
}

pre span.SyntaxTemplateIdentifier {
	font-style: italic;
}

pre span.SyntaxEnumIdentifier {
	font-style: italic;
}

pre span.SyntaxParameter {
	font-style: italic;
}

/* Additions to support syntax coloring */

pre span.HighlightComment {
	color: Green;
}

pre span.HighlightString {
	color: Maroon;
}

pre span.HighlightKeyword {
	color: Blue;
}

pre span.HighlightPreprocessor {
	color: #000099;
}

/* TOC Treeview */

.TreeviewSpanArea table, .TreeviewSpanArea tr, .TreeviewSpanArea td, .TreeviewSpanArea div {
	margin: 0;
	border: none;
	padding: 0;
	background-color: transparent;
}

.TreeviewSpanArea td {
	background-repeat: repeat-y;
}

.TreeviewSpanArea div {
	width: 100%;
}

.TreeviewIcon {
	vertical-align: bottom;
}

@media screen {
.onscreen
	{
	}
.onprint
	{
	display: none;
	}
}

@media print {
.onscreen
	{
	display: none;
	}
.onprint
	{
	}
	#TOC_icon {
		display: none;
	}
}
